<h1>Searching for "<%= @search_term %>"</h1>

<% if @search_results %>
<table>
  <thead>
    <tr>
      <td>Image</td>
      <td>Name</td>
      <td>Description</td>
    </tr>
  </thead>
  <tbody>
    <% @search_results.each do |course| %>
    <tr>
      <td> <%= image_for(course)                %>  </td>
      <td> <%= course.name                      %>  </td>
      <td> <%= course.short_description         %>  </td>
    </tr>

    <% end %>
  </tbody>
</table>
<% else %>
<h2> No results! </h2>
<% end %>
